:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --font-primary-color: #ffffff;
}
body {
  background-color: black;
}
li {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 16px;
}
.navbar-brand {
  font-family: var(--primary-font);
  font-weight: bold;
}

.top-container {
  padding-left: 0;
  padding: 20em;
  background-image: url(/images/jiji.jpg);
  background-position: center;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
}
.artist-name {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 30px;
  color: var(--font-primary-color);
}
.title {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 72px;
  color: var(--font-primary-color);
}
.short-description {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 18px;
  color: var(--font-primary-color);
}
.contact-me {
  color: black;
  text-decoration: none;
  font-family: var(--secondary-font);
  border-radius: 50px;
}
.homepage-content {
  text-align: center;
}
