:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --font-primary-color: #ffffff;
  --title-page-font-color: #9e0451;
}

body {
  background-color: black;
}
h1 {
  font-family: var(--primary-font);
  color: var(--font-primary-color);
  font-size: 72px;
}
li {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 16px;
}
footer {
  padding: 35px;
  background-color: #212529;
}

.navbar-brand {
  font-family: var(--primary-font);
  font-weight: bold;
}

.top-container {
  padding: 20%;
  background-image: url(/images/Lilies.JPG);

  background-position: center center;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.top-container::before {
  content: "";
  display: block;
  position: absolute;

  background-size: cover;
  background: black;
  opacity: 0.9;
}
.artist-name {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 30px;
  color: var(--title-page-font-color);
}
.portfolioTitle {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 72px;
  color: var(--title-page-font-color);
}
.short-description {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 25px;
  color: var(--title-page-font-color);
}
.contact-me {
  color: black;
  text-decoration: none;
  font-family: var(--secondary-font);
  border-radius: 50px;
}
.homepage-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  opacity: 1;
}
/* Gallery Images*/
.gallerySubhead {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--font-primary-color);
  margin: 80px;
  font-size: 2rem;
}
.seriesTitle {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: var(--font-primary-color);
  padding: 50px 0 50px 35px;
}
.illustrationDescription {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: var(--font-primary-color);
  margin: 30px;
  text-align: center;
}

.harukoSeries .kaijuSeries .madameCoco {
  margin: 50px 0;
}
.galleryImage {
  border: solid white 0.5rem;
  box-shadow: 5px 5px 8px #636363;
}
.madameCoco {
  margin-bottom: 80px;
}
/* info page*/
.information {
  margin-bottom: 50px;

  margin-top: 50px;
}
.selfie {
  display: block;
  margin: auto;
}
.artistDescription {
  font-family: var(--primary-font);
  font-weight: normal;
  color: var(--font-primary-color);
  padding: 35px 25px;
}

/*footer*/
.socialMedia {
  text-align: center;
  font-size: 1.5rem;
  color: var(--font-primary-color);
}

.instagram {
  text-decoration: none;
  color: var(--font-primary-color);
  display: block;
}
.instagram:hover {
  color: var(--title-page-font-color);
}
.facebook {
  text-decoration: none;
  color: var(--font-primary-color);
  display: block;
}
.facebook:hover {
  color: var(--title-page-font-color);
}
.codedBy {
  font-size: 0.8rem;
  margin-top: 50px;
}

/*contact me*/

#contact-me {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.contactMe {
  font-family: var(--primary-font);
  font-weight: normal;
  color: var(--font-primary-color);
}
.contactMessage {
  font-family: var(--primary-font);
  font-weight: normal;
  color: var(--font-primary-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.email-link {
  text-decoration: none;
  color: var(--font-primary-color);
  display: block;
  font-size: 2rem;
}
.email-link:hover {
  color: var(--title-page-font-color);
}
@media (max-width: 1000px) {
  .harukoSeries {
    flex-direction: column;
    text-align: center;
  }
  .kaijuSeries {
    flex-direction: column;
    text-align: center;
  }
  .madameCoco {
    flex-direction: column;
    text-align: center;
  }
  .galleryImage {
    max-width: 80%;
  }
  .portfolioTitle {
    font-size: 35px;
  }
  .email-link {
    font-size: 1.5rem;
  }
  .socialMedia {
    font-size: 1rem;
  }
  .selfie {
    padding: 10px;
    border: none;
  }
  .artist-name {
    font-size: 20px;
  }
}
